.personaRegistro {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 450px;
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.h2 {
  min-height: 2.5rem;
  background-color: #8cfc03;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.button {
  background: #080;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: thin solid #060;
}

.button:hover {
  background: #0a0;
}
