.formularioRegistro {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 550px;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.h1 {
  min-height: 4rem;
  background-color: #03d6fb;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.h2 {
  min-height: 2.5rem;
  background-color: #8cfc03;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.check {
  width: 20px;
  height: 20px;
}

th {
  width: 50px;
}

.header {
  background-image: url("/assets/imagenes/FormularioB.PNG");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
