<header class="header">
  <section class="information">
    <h1>Hola! Soy Get Home</h1>
    <p>
      <font size=4>En Get Home darás el primer paso para cumplir el sueño de tener casa propia para tú familia. </font>
    </p>
    <br>
    <br>
    <p>
      Si eres un ciudadano y desea acceder a la posibilidad de ser beneficiario de un subsidio de vivienda de
      click en Postular
    </p>
    <br>
    <div>
      <a href="http://localhost:4200/formulario">
        <button type="submit" class="btn btn-primary" class="button">Postular</button>
      </a>
      <a href="http://localhost:4200/login">
        <button type="submit" class="btn btn-primary" class="button">Funcionario Público</button>
      </a>
    </div>
  </section>
</header>
